* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

html {
  background-color: #eee;
  background-image: url("./assets/Anime.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

main {
  margin: 1rem auto 1rem auto;
  max-width: 1080px;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.9);
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  max-width: 480px;
  margin: 0 auto 1.5rem;
}

form input {
  appearance: none;
  outline: none;
  border: none;
  background: #fff;
  display: block;
  color: #888;
  font-size: 1.125rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.button {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #c64369 50%, #35427d 50%);
  background-size: 200%;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.button:hover,
.button:focus {
  background-position: right;
}

.search-results {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(53, 66, 125, 0.1);
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-height: 650px;
  overflow-y: scroll;
  margin-bottom: 1.5rem;
}
.search-results .result {
  margin: 1rem;
  padding: 0rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  transition: 0.4s;
}
.search-results .result img {
  width: 100%;
  height: 250px;
  border-radius: 0rem;
  margin-right: 1rem;
}
.search-results .details {
  flex: 1 1 0%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
}
.search-results .details h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.search-results .details p {
  font-size: 0.875rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}
.search-results .details .button {
  margin-left: auto;
}

.flex-1 {
  display: block;
  flex: 1 1 0%;
}

.myanime {
  padding: 1rem 0rem;
}

.myanime h2 {
  color: #333;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.myanime .anime {
  display: flex;
  margin-bottom: 1.5rem;
  background-color: #3e3f46;
  padding: 0;
  border-radius: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  color: #fff !important;
  min-height: 125px;
}
.myanime .anime:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 10px;
  height: 100%;
  background: #2e3133;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}
.myanime .anime:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background: #35383e;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}
.myanime .anime img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border: 1px solid #5a5a5a;
  border-radius: 0;
  margin-right: 1rem;
}
.myanime .anime .title {
  align-self: end;
  padding: 1em 0;
}
.myanime .anime h3 {
  color: #fff;
  font-size: 1.125rem;
}
.myanime .anime .episodes {
  margin-right: 1rem;
  color: #888;
}
.myanime .anime .actions {
  flex-grow: 1;
  text-align: right;
}
.myanime .anime .item-button {
  background-color: #52535a;
  position: relative;
  background-position: bottom;
  background-size: 100% 200%;
  border-bottom: 1px solid #313238;
  transition: 0.3s;
  padding: 1em;
  color: #fff;
  border: none;
  font-weight: bold;
  z-index: var(--i);
}
.myanime .anime .item-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 10px;
  height: 0%;
  background: #52535a;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.3s;
}
.myanime .anime .item-button:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background: #4d4e54;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.3s;
  z-index: 99;
}
.myanime .anime .item-button.negative:hover, .myanime .anime .item-button.negative:focus {
  background-position: top;
  background-color: #9d3c3c;
  transform: translateY(-10px);
  padding-bottom: calc(1em + 10px);
}
.myanime .anime .item-button.negative:hover:before, .myanime .anime .item-button.negative:focus:before {
  height: 10px;
  background: #893434;
}
.myanime .anime .item-button.negative:hover::after, .myanime .anime .item-button.negative:focus::after {
  background: #913737;
}
.myanime .anime .item-button.positive:hover, .myanime .anime .item-button.positive:focus {
  background-position: top;
  background-color: #0e6a1a;
  transform: translateY(-10px);
  padding-bottom: calc(1em + 10px);
}
.myanime .anime .item-button.positive:hover:before, .myanime .anime .item-button.positive:focus:before {
  height: 10px;
  background: #0b4e14;
}
.myanime .anime .item-button.positive:hover::after, .myanime .anime .item-button.positive:focus::after {
  background: #0d5816;
}

.tabs {
  display: flex;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 1.5rem;
  background-color: #fff;
  padding: 0rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: fit-content;
}

.tabs .button {
  border: 1px solid #fff;
  border-radius: 0.5rem;
}

.tabs .button:first-of-type {
  margin-right: 0rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.tabs .button:first-of-type:hover,
.tabs .button:first-of-type:focus {
  margin-right: 0rem;
  border-top-right-radius: 0 rem;
  border-bottom-right-radius: 0 rem;
}

.tabs .button:last-of-type {
  margin-right: 0;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  background-image: linear-gradient(to right, #35427d 50%, #c64369 50%);
  background-position: right;
}

.tabs .button:last-of-type:hover,
.tabs .button:last-of-type:focus {
  margin-right: 0;
  border-top-left-radius: 0 rem;
  border-bottom-left-radius: 0 rem;
  background-position: left;
}

.button .badge {
  background: white;
  color: black;
  border-radius: 3rem;
  font-size: 0.65rem;
  padding: 0.28rem 0.5rem;
  width: 20px;
  height: 20px;
  line-height: 1em;
  margin-left: 0.5rem;
}

/*# sourceMappingURL=output.css.map */
